*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./MYFOL1IO.jpg);
    
}
.text_5{
    color: #02918c;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    margin-left: 40px;
}
.text_6{
    margin-top: 5px;
    margin-left: 40px;
}

.prent_2{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    
}
.prent_3{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}
.border_10{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 50px;
}
.border_9{
    margin-top: 50px;
    margin-right: 20px;
}

.border_14{
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.border_15{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}